*{
    box-sizing: border-box;
}
body {
  
   padding: 0;
   margin: 0;

    
}
nav {
    float: right;    
    padding: 20px;
    

    
    
}
nav a:hover{
    text-decoration: underline;
}
#man {
    text-align: center;
  
    margin-top: 10%;
    
}


img {
    width: 250px;
    height: 80px;
    
}
input {
    
    outline: none;
    border: none;
    width: 90%;
    
    
}

input:hover{
    border: none;
}
.contain:hover {
    box-shadow: 2px 2px 5px rgb(75, 230, 96);
    transition: 1s ease;
}
.contain {
    border: 1px solid rgb(220, 224, 223);
    width: 45%;
    padding: 5px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    margin-top: 35px;
    

}
#mic {
margin-top: 15px;
margin:  5px;
     
      
}
#sea{
float: left;
padding: 7px;
}
a {
    text-decoration: none;

}
#h {
    background-color: rgb(93, 91, 201);
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: 12px;
    margin-left: 7px;
    text-decoration: none;
}
#bl {
    color: black;
    margin-left: 7px;
}
.bd {
    padding: 20px;
}
.bd a {
    padding: 10px;
    background-color: rgb(202, 202, 212);
    border-radius: 5px;
    transition: 1s ease;
    
}
.bd a:hover {
    opacity: 0.8;
    border: 1px solid grey;
    text-decoration: none;
}
#lg a {
    padding: 40px 2px;
}
#lg a :hover {
    text-decoration: underline;
}
footer {
position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    
}
.nig {
    background-color: rgb(202, 202, 212);  
    border-top:1px solid rgb(87, 82, 75) ;
    width: 100%;
    padding: 7px;
    display: block;
float: left;
color: grey;   
} 
#ft {
    background-color: rgb(202, 202, 212); 
    border-bottom: 1px solid rgb(87, 82, 75) ; 
    border-top:1px solid rgb(87, 82, 75) ;
    width: 100%;
    padding: 8px;
    display: block;
    float: left;
  
}
#ft a {
        color: grey;} 
 #ft a:hover {
        text-decoration: underline;
    }

.rt {
    float: right;
}


    


